<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 配置Spring AOP-->
    <bean id="studentDao" class="cn.lovingliu.aop.demo4.StudentDaoImpl" />
    <!--1.配置Advisor一般切面-->
    <!--这是前置通知类型-->
    <bean id="myBeforeAdvice" class="cn.lovingliu.aop.demo4.MyBeforeAdvice" />
    <!--利用Spring AOP 产生代理对象-->
    <bean id="studentDaoProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <!-- 1.配置要代理的目标类-->
        <property name="target" ref="studentDao" />
        <!-- 2.实现的接口 -->
        <property name="proxyInterfaces" value="cn.lovingliu.aop.demo4.StudentDao" />
        <!-- 3.要采用拦截器 和 上面定义的对应 -->
        <property name="interceptorNames" value="myBeforeAdvice" />
        <!-- 4.强制使用cglib代理 -->
        <property name="optimize" value="true" />
    </bean>
</beans>
